@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 83.7%; 
  margin: 0 auto;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --white-clr:                  #fff;
  --primary-clr:                #5ac0ab;
  --secondary-clr:              #5a6f80;
  --section-bg-clr:             #f0f8ff;
  --footer-bg-clr:              #44525d;
  --dark-clr:                   #000;
  --p-clr:                      #717275;
  --border-clr:                 #e9eaeb;
}

/* common styling  */
.heading {
  color: var(--secondary-clr);
  font-size: 44px;
  font-weight: 700;
}

section {
  padding: 100px 0;
}

.banner { padding: 0; }
/*=================================
  Header styling starts here
=================================*/
.header { background-color: var(--primary-clr); }

.header .wrapper {
  padding: 15px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-link {
  display: flex;
  gap: 17px;
}

.before-icon {
  display: inline-block;
  color: var(--white-clr);
  font-size: 15px;
}

.before-icon::before {
  content: "\f3c5";
  margin:2px 8px 0;
  font-size: 15px;
  font-family: "FontAwesome";
  float: left;
}

.envelope::before { content: "\f0e0"; }

.social-icon {
  display: inline-block;
  text-indent: -9999px;
}

.social-icon::before {
  content: "\f099";
  margin-right: 15px;
  color: var(--white-clr);
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
}

.facebook::before { content: "\f09a"; }
.instagram::before { content: "\f16d"; }
.youtube::before { content: "\f16a"; }
.whatsapp::before { content: "\f232"; }
/*=================================
  Header styling ends here
=================================*/  
/*=================================
  Nav styling starts here
=================================*/  
.nav .wrapper {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color: #000;
  text-indent: -9999px;
  transition: all .3s;
}


.logo img {
  width: 80px;
  height: auto;
}

.drop-item {
  display: none;
}

.nav-item {
  padding: 20px;
  color: #717275;
  font-size: 16px;
}

.nav-item.active { color: var(--primary-clr); }

.donate-btn {
  padding: 12px 28px;
  margin-left: 20px;
  border: 2px solid #596E7F;
  border-radius: 30px;
}

.dropdown {
  display: inline-block;
}

.dropdown::before {
  content: "\f107";
  padding-left: 5px;
  font-size: 15px;
  font-family: "FontAwesome";
  float: right;
}

.logo-name {
  display: inherit;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-clr);
  vertical-align: middle;
}

small {
  display: block;
  color: var(--secondary-clr);
  font-size: 10.5px;
  text-transform: uppercase;
}
/*=================================
  Nav styling ends here
=================================*/  
/*=================================
  Banner styling starts here
=================================*/  
.banner .wrapper {
  width: 100%;
  position: relative;
}

.slide-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.angle {
  padding: 0 5%;
  display: flex;
  align-items: center;
  text-indent: -9999px;
  position: relative;
}

.angle::before {
  content: "\f104";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-clr);
  color: var(--white-clr);
  font-size: 30px;
  font-family: "FontAwesome";
  font-weight: lighter;
  text-indent: 0;
  float: left;
  opacity: 0.8;
}

.next-slide::before {
  content: "\f105";
}

.banner-item {
  position: relative;
}

.banner-item:not(:first-child) {
  display: none;
}

.banner-item figure {
  height: 100%;
  max-height: 680px;
  clip-path: polygon(0 0, 100% 0, 100% 23%, 49% 100%, 0 100%);
}

.banner-content {
  min-width: 680px;
  min-height: 680px;
  height: 100%;
  padding: 100px 100px 70px 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.banner-content h2 {
  margin-bottom: 8px;
  color: var(--secondary-clr); 
  font-size: 52px;
  font-weight: 700;
}

.banner-content p {
  margin-top: 17px;
  color: #717275;
  font-size: 16px;
}
/*=================================
  Banner styling ends here
=================================*/ 
/*=================================
  Charity feature styling starts here
=================================*/ 
.charity .heading {
  margin-bottom: 70px;
  text-align: center;
}

.feature-list {
  display: flex;
  gap: 25px;
}

.feature-list li {
  padding: 30px 27px;
  border-radius: 20px;
  flex-basis: 25%;
  text-align: center;
}

.feature-list li:hover {
  box-shadow: 0 16px 48px rgba(0,0,0,.175);
  transition: all .4s ease-in;
}

.feature-list li:hover .feature-img {
  transform: scale(.75);
  transition: all .4s ease-in;
}

.feature-list img {
  max-width: 128px;
  max-height: 128px;
}

.charity-heading {
  padding: 20px 0 16px;
  color: var(--primary-clr);
  font-size: 24px;
}

.bold { font-weight: 700; }
/*=================================
  Charity feature styling ends here
=================================*/ 
/*=================================
  Our Story styling starts here
=================================*/
.story {
  background-color: var(--section-bg-clr);
}

.story .wrapper {
  display: flex;
  justify-content: space-between;
}

.left-story-img img{
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.left-story-img {
  flex-basis: 49%;
}

.story-content {
  flex-basis: 49%;
}

.story-about,
.mission-list > li{
  padding: 40px;
  background-color: var(--white-clr);
  border-radius: 20px;
}

.mission-list li { flex-basis: 48%; }

.story-about {
  margin-bottom: 20px;
}

.mission-list {
  display: flex;
  gap: 20px;
}

.story-about .sub-heading,
.mission-list .sub-heading {
  padding: 13px 0;
  color: var(--primary-clr);
  font-size: 23px;
  font-weight: 700;
}

.story-para,
.mission-list p {
  padding: 5px 0;
  color: #717275;
  line-height: 22px;
  letter-spacing: 1px;
}

.counter {
  color: var(--primary-clr);
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1px;
}

.counter-text {
  font-size: 17px;
}

.tick-icon {
  margin: 10px 0;
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primary-clr);
}

.tick-icon::before {
  content: "\f00c";
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--section-bg-clr);
  color: var(--secondary-clr);
  font-family: "FontAwesome";
  float: left;
  font-size: 14px;
}

.counter-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.counter-list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mission-list .padding-differ {
  padding: 50px 0 50px 64px;
  color: var(--primary-clr);
}
/*=================================
  Our Story styling ends here
=================================*/
/*=================================
  Team styling starts here
=================================*/
.team .wrapper {
  padding-left: 12%;
  display: flex;
}

.team-image{
  max-width: 354px;
  max-height: 388px;
  margin: 0 35px;
}

.team-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.team-detail {
  width: 36%;
  padding-top: 50px;
  margin: 0 35px;
  color: var(--primary-clr);
}

.team-detail .heading {
  margin-bottom: 10px;
}

.designation {
  display: inline-block;
  margin-bottom: 40px;
}

.team-para {
  margin-bottom: 20px;
  line-height: 24px;
}

.team-social {
  display: inline-block;
  text-indent: -9999px;
}

.team-social::before {
  content: "\f099";
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44525d;
  color: var(--white-clr);
  font-size: 14px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}


.facebook::before { content: "\f09a";}
.instagram::before { content: "\f16d";}
/*=================================
  Team styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  